datetime2-belarusian-ascii.ldf
datetime2-belarusian.aux
datetime2-belarusian.glo
datetime2-belarusian.gls
datetime2-belarusian.idx
datetime2-belarusian.ilg
datetime2-belarusian.ind
datetime2-belarusian.ins
datetime2-belarusian.ldf
datetime2-belarusian.log
datetime2-belarusian.out
datetime2-belarusian-utf8.ldf
